/* General Styles */
body {
  font-family: Arial, sans-serif;
  /* background: url('your-background-image-url.jpg') no-repeat center center fixed; */
  background-size: cover;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black;
}

.search-bar {
  margin-bottom: 20px;
}

.error {
  color: red;
}

.current-weather {
  text-align: center;
}

.current-weather h1 {
  font-size: 4em;
  margin: 0;
}

.current-weather .city {
  font-size: 1.5em;
  margin: 10px 0;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.forecast-card {
  background: white(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  text-align: center;
  width: 150px;
}

.forecast-card .day {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.forecast-card .date {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.forecast-card .temperature {
  font-size: 1.5em;
}

.forecast-card .high-low {
  font-size: 0.9em;
}

.temperature-toggle {
  margin: 20px;
}
